{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "admin/css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/cust/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "admin/css/cust/climacons-font.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          crossorigin="anonymous">

    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
    {% block extrahead %}

    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

    <div class="app layout-fixed-header bg-white usersession">
        <div class=full-height>
            <div class=center-wrapper>
                <div class=center-content>
                    <div class="row no-margin">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            {% block pretitle %}{% endblock %}
                            {% block content %}
                                {% block object-tools %}{% endblock %}
                                {{ content }}
                            {% endblock %}
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

</body>
</html>